In [1]:
import boto3
from botocore.config import Config
from botocore.exceptions import ClientError
from assets.sql_wrapper import SQLConnection
import psycopg2
import psycopg2.extras
import os

import pandas as pd

In [2]:
dbname = os.environ["DBNAME"]
username = os.environ['SQL_USERNAME']
host = os.environ['SQL_HOST']
password = os.environ['SQL_PASSWORD']

sql = SQLConnection(dbname, username, host, password)

In [3]:
def list_tables():
    return sql.q("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_SCHEMA='public'")

In [4]:
list_tables()

/Users/erosachillea/Desktop/Sigmalabs-repos/deloton-solo/assets/sql_wrapper.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res = pd.read_sql_query(q.strip(), con)

  table_name
0      users
1      rides

In [5]:
sql.q("SELECT * FROM users")

/Users/erosachillea/Desktop/Sigmalabs-repos/deloton-solo/assets/sql_wrapper.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res = pd.read_sql_query(q.strip(), con)

Empty DataFrame
Columns: [user_id, name, gender, age, height, weight, account_created, original_source, postcode]
Index: []

In [7]:
sql.q("SELECT * FROM rides")

/Users/erosachillea/Desktop/Sigmalabs-repos/deloton-solo/assets/sql_wrapper.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res = pd.read_sql_query(q.strip(), con)

Empty DataFrame
Columns: [ride_id, start_time, duration, avg_resistance, user_id]
Index: []